POS_URL="http://localhost:9000"
POS_USER="admin"
POS_PASSWORD="
POS_DEVICE_NAME=""
POS_DEVICE_INDEX="7"
POS_LOCATION_NAME="Inventory"git branch
POS_LOCATION_INDEX="1"

API_PASSWORD=""
API_HEADERS=,
API_URL="http://localhost:8000"